html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Roboto Slab", serif;
}



.image-inverted {
  filter: invert(100%);
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;  
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-link:hover {
  opacity: 0.8;
}

/* login */
.login-form {
  width: 100%;
  max-width: 375px;
  padding: 30px;
  box-shadow: 10px 10px 40px 20px #000;
  border-radius: 10px;
  border: none;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.type-animation {
  font-size: 1rem;
  color: white;
  display: inline-block;
  text-shadow: "1px 1px 20px #000",
}
  

@media (min-width: 700px) {
  .login-form {
    max-width: 500px;
    padding: 50px 50px 30px 50px;
  }
}
@media (min-width: 900px) {
  .type-animation {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .MuiToolbar-root {
    padding: 0 !important;
  }
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
